@media (min-width: 550px) {
	.container {
		width: 80%;
	}
	.column, .columns {
		margin-left: 4%;
	}
	.column:first-child, .columns:first-child {
		margin-left: 0;
	}

	.one.column,
	.one.columns                    { width: 4.66666666667%; }
	.two.columns                    { width: 13.3333333333%; }
	.three.columns                  { width: 22%;            }
	.four.columns                   { width: 30.6666666667%; }
	.five.columns                   { width: 39.3333333333%; }
	.six.columns                    { width: 48%;            }
	.seven.columns                  { width: 56.6666666667%; }
	.eight.columns                  { width: 65.3333333333%; }
	.nine.columns                   { width: 74.0%;          }
	.ten.columns                    { width: 82.6666666667%; }
	.eleven.columns                 { width: 91.3333333333%; }
	.twelve.columns                 { width: 100%; margin-left: 0; }

	.one-third.column               { width: 30.6666666667%; }
	.two-thirds.column              { width: 65.3333333333%; }

	.one-half.column                { width: 48%; }

	/* Offsets */
	.offset-by-one.column,
	.offset-by-one.columns          { margin-left: 8.66666666667%; }
	.offset-by-two.column,
	.offset-by-two.columns          { margin-left: 17.3333333333%; }
	.offset-by-three.column,
	.offset-by-three.columns        { margin-left: 26%;            }
	.offset-by-four.column,
	.offset-by-four.columns         { margin-left: 34.6666666667%; }
	.offset-by-five.column,
	.offset-by-five.columns         { margin-left: 43.3333333333%; }
	.offset-by-six.column,
	.offset-by-six.columns          { margin-left: 52%;            }
	.offset-by-seven.column,
	.offset-by-seven.columns        { margin-left: 60.6666666667%; }
	.offset-by-eight.column,
	.offset-by-eight.columns        { margin-left: 69.3333333333%; }
	.offset-by-nine.column,
	.offset-by-nine.columns         { margin-left: 78.0%;          }
	.offset-by-ten.column,
	.offset-by-ten.columns          { margin-left: 86.6666666667%; }
	.offset-by-eleven.column,
	.offset-by-eleven.columns       { margin-left: 95.3333333333%; }

	.offset-by-one-third.column,
	.offset-by-one-third.columns    { margin-left: 34.6666666667%; }
	.offset-by-two-thirds.column,
	.offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

	.offset-by-one-half.column,
	.offset-by-one-half.columns     { margin-left: 52%; }

	h1 { font-size: 5.0rem; }
	h2 { font-size: 4.2rem; }
	h3 { font-size: 3.6rem; }
	h4 { font-size: 3.0rem; }
	h5 { font-size: 2.4rem; }
	h6 { font-size: 1.5rem; }

	.site-section {
		padding: 2.5rem 0;
	}
	.navbar + .site-section {
		border-top-width: 0;
	}
	.extra {
		display: block;
	}
	.mobile {
		display: none
	}
	#burger, #burgerToggle, .mobile {
		display: none;
	}
	.navbar {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 100;
	}
	.navbar,
	.navbar-spacer {
		display: block;
		width: 100%;
		height: 6.5rem;
		background: #eee;
		z-index: 100;
		background-color: #252525;
		border-bottom: 1px solid #eee;
	}
	.navbar-spacer {
		display: none;
	}
	.navbar > .container {
		width: 100%;
	}
	.navbar-list {
		list-style: none;
		margin-bottom: 0;
	}
	.navbar-item {
		position: relative;
		float: left;
		margin-bottom: 0;
	}
	.navbar-link {
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: .2rem;
		margin-right: 35px;
		text-decoration: none;
		line-height: 6.5rem;
		color: #eee;
	}
	.navbar-link.active {
		color: #33C3F0;
	}
	.icon {
		width: 5%;
		height: 5%;
	}
}
