/* Grid */
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

/* Fonts and Typography */
@font-face {
	font-family: 'Raleway';
	font-display: swap;
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/raleway-v12-latin-300italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
	url('../fonts/raleway-v12-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/raleway-v12-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/raleway-v12-latin-300italic.woff') format('woff'), /* Modern Browsers */
	url('../fonts/raleway-v12-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/raleway-v12-latin-300italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Raleway';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Raleway'), local('Raleway-Regular'),
	url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Raleway';
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/raleway-v12-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
	url('../fonts/raleway-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/raleway-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/raleway-v12-latin-600.woff') format('woff'), /* Modern Browsers */
	url('../fonts/raleway-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/raleway-v12-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
	font-size: 62.5%;
}
body {
	font-size: 1.8em;
	line-height: 1.6;
	background-color: #252525;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #eee;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 300;
}
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
p {
	margin-top: 0;
}

/* Links */
a {
	color: #1EAEDB;
}
a:hover {
	color: #0FA0CE;
}

/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #222;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	color: #333;
	border-color: #888;
	outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: #252525;
	background-color: #33C3F0;
	font-weight: bold;
	border-color: #33C3F0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	color: #FFF;
	background-color: #1EAEDB;
	border-color: #1EAEDB;
}

/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #444;
	color: #eee;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #33C3F0;
	outline: 0;
}
label,
legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}
fieldset {
	padding: 0;
	border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
	display: inline;
}
label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

/* Lists */
ul {
	list-style: circle inside;
}
ol {
	list-style: decimal inside;
}
ol, ul {
	padding-left: 0;
	margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin: 1.5rem 0 1.5rem 1.5rem;
	font-size: 90%;
}
li {
	margin-bottom: 1rem;
}

/* Code */
code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}
pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

/* Tables */
th, td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
}
th:first-child, td:first-child {
	padding-left: 0;
}
th:last-child,
td:last-child {
	padding-right: 0;
}

/* Spacing */
button, .button {
	margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
	margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 2.5rem;
}

/* Utilities */
.u-full-width {
	width: 100%;
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}
.u-pull-right {
	text-align: right;
	float: right;
}
.u-pull-left {
	text-align: left;
	float: left;
}

/* Misc */
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-width: 0;
	border-top: 1px solid #E1E1E1;
}

/* Self clearing */
.container:after,
.row:after,
.u-cf {
	content: "";
	display: table;
	clear: both;
}

/* Extras */
.header {
	margin-top: 4.5rem;
	margin-bottom: 4.5rem;
	text-align: center;
}
.site-section {
	border-top: 1px solid #eee;
	margin: auto;
	padding: 0rem 0;
}
.heading-font-size {
	font-size: 1.2rem;
	color: #999;
	letter-spacing: normal;
}
.res-head {
	text-align: center;
	margin-bottom: 2em;
}
.langs {
	margin-left: 0.8em;
}
.resume p {
	margin: 0;
}
.resume ul {
	margin-top: 0.3em;
	margin-bottom: 2em;
}
.resume li {
	margin: 0.2em;
}
.resume td {
	padding: 10px;
}
blockquote {
	font-style: italic;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
}
.icons {
	text-align: center;
}
.icon {
	position: relative;
	margin-bottom: 3rem;
	margin-right: 1rem;
	width: 10%;
	height: 10%;
	fill: #eee;
}
.icon:hover #linkedin {
	fill: #0077B5;
}
.icon:hover #git {
	fill: #F05032;
}
.icon:hover #stackoverflow {
	fill: #FE7A16;
}
.about {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	border-top: none;
}
.anchorpoint {
	display: block;
	padding-top: 50px;
	margin-top: -50px;
}
